@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  background: #191D3E;
  padding-left: 124px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
