@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  min-height: 100vh;
  background: linear-gradient(135deg, #11142C 0%, #1a114e 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
