@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFFFFF;
  min-height: 100vh;
  background: linear-gradient(135deg, #11142C 0%, #1a114e 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
  background: #1a114e;
}

*::-webkit-scrollbar-track {
  background: #1a114e;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #11142C;
  border-radius: 14px;
  border: 3px solid #11142C;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0A0D1D;
}

/* Chrome, Edge, and Safari */
.scroler::-webkit-scrollbar {
  display: none;
}

.scroler::-webkit-scrollbar-track {
  display: none;
}

.scroler::-webkit-scrollbar-thumb {
  display: none;
}

.scroler::-webkit-scrollbar-thumb:hover {
  display: none;
}